<header id="site-header">
  <div class="site-title-nav">
    <div class="site-title"><a href="/">
        Zwischenzug
      </a></div>
  </div>
  <div class="site-buttons">
    <div class="dasher">
      <a *ngIf="currentUser" id="user_tag" class="toggle link">{{ currentUser.username }}</a>
      <a *ngIf="currentUser" (click)="logout()" class="btn btn-primary">logout</a>
      <a *ngIf="!currentUser" [routerLink]="['/login']" class="btn btn-primary">login</a>
      <a *ngIf="!currentUser" [routerLink]="['/register']" class="btn btn-primary">register</a>
    </div>
  </div>
</header>
