<div class="header">
  <div class="header__title">
    <a href="/">Zwischenzug</a>
  </div>
  <div class="header__menu">
  </div>
  <div class="header__user">
    <div>
      <a *ngIf="currentUser" id="user_tag" class="toggle link">{{ currentUser.user.username }}</a>
      <a *ngIf="currentUser" (click)="logout()" class="btn btn-primary">logout</a>
      <a *ngIf="!currentUser" [routerLink]="['/login']" class="btn btn-primary">login</a>
      <a *ngIf="!currentUser" [routerLink]="['/register']" class="btn btn-primary">register</a>
    </div>
  </div>
<div class="header">
