.container {
  display: grid;
  grid-template-areas: "metadata board notation";
  grid-template-columns: auto 90vh auto;
}

#metadata {
  grid-area: "metadata";
}

#board {
  grid-area: "board";
}

#moves {
  grid-area: "notation";
}

