<div class="container">
  <div id="board">
    <app-chessboard [fen]="currentFen" [lastMove]="lastMove" (change)="fenChange($event)"></app-chessboard>
  </div>
  <div id="results" [hidden]="!complete">
    <div id="next">
      <a href="#" (click)="ngOnInit()" class="btn btn-primary">Next</a>
    </div>
    <div id="moves">
      <ol>
        <li *ngFor="let challenge of puzzle.challenges; let i = index">
          <ul>
            <li href="#" (click)="setFen(challenge.fen)">Challenge {{i}}</li>
            <li (click)="setFen(challenge.expected_fens[0])">Solution</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
