.container {
  display: grid;
  grid-template-areas: "board notation";
  grid-template-columns: minmax(320px, 80vh) 15%;
}

#metadata {
  grid-area: "metadata";
}

#board {
  grid-area: "board";
}

#moves {
  grid-area: "notation";
}

