<div class="puzzle">
  <div class="puzzle__meta">
    <div *ngIf="study">
      <div class="puzzle__meta--instructions">
      {{study.instructions()}}
      </div>
      <div class="puzzle__meta--autoskip form-check">
        <input type="checkbox" [(ngModel)]="autoskip">Automatic Puzzle Change
      </div>
    </div>
  </div>
  <div id="puzzle__board">
    <app-chessboard (moveEvent)="moveEventHandler($event)"></app-chessboard>
  </div>
  <div class="puzzle__result">
    <div *ngIf="result">
      <div *ngIf="result.success">Success!</div>
      <div *ngIf="!result.success">Failure!</div>
      <div class="puzzle__result__move">{{result.move}}</div>
      <div class="btn btn-primary" (click)="nextStudy()">Next</div>
    </div>
  </div>
</div>
