.container {
  display: grid;
  grid-template-areas: "board";
  grid-template-columns: minmax(320px, 60vh);
}

#metadata {
  grid-area: "metadata";
}

#board {
  grid-area: "board";
}

#moves {
  grid-area: "notation";
}

