<div class="container">
  <div id="board">
    <app-chessboard [fen]="currentFen" [lastMove]="lastMove" (change)="fenChange($event)"></app-chessboard>
  </div>
  <div id="results" [hidden]="!complete">
    <div id="next">
      <a href="#" (click)="ngOnInit()" class="btn btn-primary">Next</a>
    </div>
    <div id="moves">
      <ul>
        <li *ngFor="let challenge of puzzle.challenges">
          <app-chessboard [fen]="challenge.expected_fens[0]"></app-chessboard>
        </li>
      </ul>
    </div>
  </div>
</div>
