<div class="piece queen" (click)="promote('q')"></div>
<div class="piece rook" (click)="promote('r')"></div>
<div class="piece bishop" (click)="promote('b')"></div>
<div class="piece knight" (click)="promote('n')"></div>
