.piece {
  width: 177px;
  height: 177px;
  display: inline-block;
}

.queen {
  background-image: url("~assets/img/chessground/piece/merida/wQ.svg");
}

.rook {
  background-image: url("~assets/img/chessground/piece/merida/wR.svg");
}

.bishop {
  background-image: url("~assets/img/chessground/piece/merida/wB.svg");
}

.knight {
  background-image: url("~assets/img/chessground/piece/merida/wN.svg");
}
